<div class="container text-center">

  <%= form_with url: colorstraps_path do |f| %>
    <div>
      <%= f.label :primary %>
      <%= f.color_field :primary, type:"color", value:"#007bff", id:"primary" %>

      <%= f.label :secondary %>
      <%= f.color_field :secondary, type:"color", value:"#6c757d" %>

      <%= f.label :success %>
      <%= f.color_field :success, type:"color", value:"#28a745" %> 

      <%= f.label :info %>
      <%= f.color_field :info, type:"color", value:"#17a2b8" %>

      <%= f.label :warning %>
      <%= f.color_field :warning, type:"color", value:"#ffc107" %>

      <%= f.label :danger %>
      <%= f.color_field :danger, type:"color", value:"#dc3545" %> 
    </div>

    <div>
      <%= f.submit "Generate", class:"btn btn-dark" %>
    </div>
<hr>
    <h5 id="btn-options" class="btn btn-outline-dark">Show advanced options</h5>
    <div id="options" style="display : none;">
      <div class="container">
      <br>
        <%= f.label :background %>
        <%= f.color_field :background, type:"color", value:"#ffffff" %> 

        <%= f.label :light %>
        <%= f.color_field :light, type:"color", value:"#f8f9fa" %> 

        <%= f.label :dark %>
        <%= f.color_field :dark, type:"color", value:"#343a40" %>                 
        
        <%= f.label :text_light %>
        <%= f.color_field :text_light, type:"color", value:"#ffffff" %> 

        <%= f.label :text_dark %>
        <%= f.color_field :text_dark, type:"color", value:"#212529" %> 

        <%= f.label :link_hover %>
        <%= f.color_field :link_hover, type:"color", value:"#0056b3" %> 
      </div>
    </div>

  <% end %>

</div>


