<div class="container-fluid colorstrap">
  <div class="d-flex flex-direction-row justify-content-center align-items-center pt-3">
    <%= image_tag "logo_colorstrap.svg", height: 100 %>
  </div>

  <hr>

  <%= render 'colorform' %>

  <hr>
    <p class="text-center text-muted">(Don't worry about the colors triggered from actions (such as hovers) that are not displayed yet, they are generated correctly in CSS but they’re not yet integrated in JS on this page…</b>
  <hr>

  <div class="container">
    <h1 class="text-center">Your colors preview :</h1>
    <hr>
  </div>
</div>
<%= render 'kitui' %>

<hr>
<footer class="d-flex align-items-center colorstrap">
  <div class="col-1 pl-lg-5"><%= image_tag "logo_min_colorstrap.svg", height: 50 %></div>
  <div class="col-10 text-center">
    <span>Made by <a href="https://github.com/luca-montaigut">Luca Montaigut</a> with <i class="fas fa-heart"></i></span> |
    <span>Contact : <a href="mailto:lmontaigut@gmail.com">lmontaigut@gmail.com</a></span>
    <p>Based on <a href="https://bootswatch.com/" rel="nofollow">Bootswatch</a> who is based on <a href="https://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="https://fontawesome.com/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>
  </div>
  <div class="col-1 pb-3"><%= image_tag "lazyrabbit.svg", height: 75 %></div>
</footer>


<script>

  let root = document.documentElement;
  let btn = document.getElementById('btn-options')
  let option = document.getElementById('options')
  let reset = document.getElementById('reset')

  function pageColors(){
    root.style.setProperty('--primary', document.getElementById('primary').value);
    root.style.setProperty('--secondary', document.getElementById('secondary').value);
    root.style.setProperty('--success', document.getElementById('success').value);
    root.style.setProperty('--info', document.getElementById('info').value);
    root.style.setProperty('--warning', document.getElementById('warning').value);
    root.style.setProperty('--danger', document.getElementById('danger').value);
    root.style.setProperty('--background', document.getElementById('background').value);
    root.style.setProperty('--light', document.getElementById('light').value);
    root.style.setProperty('--dark', document.getElementById('dark').value);
    root.style.setProperty('--text-light', document.getElementById('text_light').value);
    root.style.setProperty('--text-dark', document.getElementById('text_dark').value);
    root.style.setProperty('--link-hover', document.getElementById('link_hover').value);
    root.style.setProperty('--form-background', document.getElementById('form_background').value);
    root.style.setProperty('--inner-background', document.getElementById('inner_background').value);
  }

  function resetColors(){
    document.getElementById('primary').value = "#007bff";
    document.getElementById('secondary').value = "#6c757d";
    document.getElementById('success').value = "#28a745";
    document.getElementById('info').value = "#17a2b8";
    document.getElementById('warning').value = "#ffc107";
    document.getElementById('danger').value = "#dc3545";
    document.getElementById('background').value = "#ffffff";
    document.getElementById('light').value = "#f8f9fa";
    document.getElementById('dark').value = "#343a40";
    document.getElementById('text_light').value = "#ffffff";
    document.getElementById('text_dark').value = "#212529";
    document.getElementById('link_hover').value = "#0056b3";
    document.getElementById('form_background').value = "#ffffff";
    document.getElementById('inner_background').value = "#e9ecef";
    pageColors()
  }

  function hideShow() {
      if (btn.innerHTML.includes("Show")) {
      options.style.display = "flex"
      btn.innerHTML = "Hide advanced options"
    } else if (btn.innerHTML.includes("Hide")) {
      options.style.display = "none"
      btn.innerHTML = "Show advanced options"    
    }
  }

  addEventListener("change", pageColors);
  btn.addEventListener('click', hideShow)
  reset.addEventListener("click", resetColors);

</script>

<style>
  .colorstrap {
    font-size : 1,3em;
    color : #454545;
    background-color : #fefefe;
  }

  .colorstrap .btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
  }

  .colorstrap .btn-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
  }

  .colorstrap .btn-dark:focus, .colorstrap .btn-dark.focus {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
  }

  .colorstrap .btn-dark.disabled, .colorstrap .btn-dark:disabled {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
  }

  .colorstrap .btn-outline-dark {
    color: #343a40;
    border-color: #343a40;
  }

  .colorstrap .btn-outline-dark:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
  }

  .colorstrap .btn-outline-dark:focus, .colorstrap .btn-outline-dark.focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
  }

  .colorstrap .btn-outline-dark.disabled, .colorstrap .btn-outline-dark:disabled {
    color: #343a40;
    background-color: transparent;
  }


  .colorstrap .btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
  }

  .colorstrap .btn-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }

  .colorstrap .btn-outline-danger:focus, .btn-outline-danger.focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  }

  .colorstrap .btn-outline-danger.disabled, .btn-outline-danger:disabled {
    color: #dc3545;
    background-color: transparent;
  }

  .colorstrap .text-muted {
    color: #6c757d !important;
  }

</style>